 body{
    background-color:black;
    background-image: url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v462-n-130-textureidea_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=9465282a2b0a375f4f5b120d7bbad882');
}
.H{
    color: rgb(184, 12, 147);
    font-family: cursive;
    font-size:80px;
}
#P1{
    font-family: verdana;
    color: rgb(234, 0, 255);
    font-size:70px;
    background-image: url('https://scx2.b-cdn.net/gfx/news/hires/2019/4-space.jpg');
} 
#P2{font-family: verdana;
    color: rgb(234, 0, 255);
    font-size:70px;
    background-image: url('https://scx2.b-cdn.net/gfx/news/hires/2019/4-space.jpg');
}

#P3{font-family: verdana;
    color: rgb(234, 0, 255);
    font-size:70px;
    background-image: url('https://scx2.b-cdn.net/gfx/news/hires/2019/4-space.jpg');
}
#p1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(234, 224, 235);
    font-size:20px;
}
#p2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(234, 224, 235);
    font-size:20px;
}
#p3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(234, 224, 235);
    font-size:20px;
}
#help{
    background-color: aqua;
    font-family: fantasy;
    font-size:30px;
}
.tests{
    background-color: whitesmoke;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 22px;
}